{% extends 'base.html.twig' %}
{% block title %}Les jeux de la communauté!{% endblock %}

{% block body %}<div class="container-fluid text-center">

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h1>BIENVENU DANS LES CATACOMBES</h1>

                <div>
                    {% set lunette = serviceInventaire.inventaireObject(app.session, Constantes.lunette) %}
                    {% if lunette %}
                        <img src="{{ asset('images/catacombe_entree_2_lunette.webp') }}" alt="catacombes" usemap="#workmap" >
                    {% else %}
                        <p>En rentrant, vous entendez un bruit de chute venant loin au dessus de vous, dans l'escalier</p>
                        <p>Et ici, autour de vous, des cranes...</p>
                        <img src="{{ asset('images/catacombe_entree_1.webp') }}" alt="catacombes" usemap="#workmap" >
                    {% endif %}
                    <map name="workmap">
                        {% if lunette %}
                            <area shape="rect" coords="800,300,853,420" alt="Se rapprocher de la stèle" href="{{ path('app_magie_catacombe_stele') }}">
                            <area shape="rect" coords="481,306,517,391" alt="Se rapprocher du pilier" href="{{ path('app_magie_catacombe_pilier') }}">
                            <area shape="rect" coords="127,384,153,400" alt="Se rapprocher du de l'étoile" href="{{ path('app_catacombe_deux_index') }}">
                        {% endif %}
                        <area shape="rect" coords="409,132,476,550" alt="Partir à gauche" href="{{ path('app_catacombe_gauche') }}">
                        <area shape="rect" coords="960,0,1000,550" alt="Partir à droite" href="{{ path('app_catacombe_droite') }}">
                    </map>
                </div>
                <div class="col">
                    <a href="{{ path('app_escalier_cailloux') }}">
                       Sortir des catacombes
                    </a>
                </div>
            </div>
            <div class="col">
                {% include 'JeuCommunaute/menu/_menu.html.twig' %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
