{% extends 'base.html.twig' %}
{% block title %}Les jeux de la communauté!{% endblock %}

{% block body %}<div class="container-fluid text-center">

    <div class="container text-center">
        <div class="row">
            <div class="col">
                {% if coffreOpen %}
                    <div class="alert alert-success" role="alert">
                        <p>Le coffre est ouvert</p>
                        <img src="{{ asset('images/lunette.webp') }}" alt="lunette rose" usemap="#workmap" >
                    </div>
                {% endif %}
                <p>tentative d'ouverture :
                    {% if tentativeCoffreOpen != 10 %}
                        {{ tentativeCoffreOpen }}
                    {% else %}
                        X
                    {% endif %}
                </p>
                <div>
                    <img src="{{ asset('images/coffre_big.webp') }}" alt="catacombes" usemap="#workmap" >
                    <map name="workmap">
                        <area shape="rect" coords="409,132,476,550" alt="Partir à gauche" href="{{ path('app_catacombe_gauche') }}">
                        <area shape="rect" coords="960,0,1000,550" alt="Partir à droite" href="{{ path('app_catacombe_droite') }}">
                    </map>
                </div>
                {{ form_start(form) }}
                {{ form_end(form) }}

                {% include 'JeuCommunaute/escalier/_revenir-escalier.html.twig' %}
            </div>
            <div class="col">
                {% include 'JeuCommunaute/menu/_menu.html.twig' %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
