{% extends 'base.html.twig' %}
{% block title %}Les jeux de la communauté!{% endblock %}

{% block body %}
    <div class="container text-center">
        {% if alert == 1 %}
            <div class="alert alert-danger" role="alert">
                Vous n'avez pas trouvé l'énigme...
            </div>
        {% endif %}

        {% if alert == 2 %}
            <div class="alert alert-success" role="alert">
                Vous avez résolu l'énigme... vous rentrez dans le <a href="{{ path('app_jardin') }}">jardin</a>
            </div>
        {% endif %}
        <div class="row">
            <div class="col">
                {% if sortTete == "teteConfusion" and sortMain == "mainConfusion" %}
                    <p>Le <strong>troll</strong> est totalement retournée</p>
                    <img src="{{ asset('images/troll_retourne.webp') }}" alt="troll retournée">
                {% elseif (sortTete == "teteConfusion" and sortMain == "mainAttraction") or (sortTete == "teteAttraction" and sortMain == "mainConfusion") %}
                    <p>Le troll est perturbé et se déplace vers sa main, ne comprenant qu'elle avance avec lui </p>
                    <p>On ne discerne qu'un petit bout du <strong>troll</strong></p>
                    <img src="{{ asset('images/troll_gauche.webp') }}" alt="troll gauche">
                {% elseif sortTete == "teteAttraction" and sortMain == "mainAttraction" %}
                    <p>LE TROLL LACHE SA MASSUE ET SE FRAPPE LA TÊTE VIOLEMENT</p>
                    <p>C'est...c'est horrible, c'est un bain de sang!</p>
                    <p>Vous entendez au loin le maitre crier : VOUS ÊTES UN MONSTRE</p>
                    <img src="{{ asset('images/troll_sang.webp') }}" alt="troll en sang">
                {% endif %}

                {{ form_start(form) }}
                {{ form_end(form) }}
                {% include 'JeuCommunaute/jardin/_revenir-entree-jardin.html.twig' %}
            </div>
            <div class="col">
                {% include 'JeuCommunaute/menu/_menu.html.twig' %}
            </div>
        </div>
    </div>


{% endblock %}
